wheel
setuptools
Flask
Flask-SQLAlchemy
Flask-Login
Flask-CORS
gunicorn
Werkzeug
SQLAlchemy
python-dotenv
bcrypt
PyQt5
qrcode
Pillow
Flask-Mail
pyotp
requests
ttkbootstrap
psutil
pywin32; platform_system == "Windows"
cryptography
python-dateutil
typing-extensions
yara-python
pefile
